@import "tailwindcss";
.font-ancizar {
    font-family: 'Ancizar Serif', serif;
  }

.text-stroke {
  -webkit-text-stroke: 0.5px white;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ee9ca7;
  border-radius: 0px;
}
